<launch>
<!--
	<node name="imu_transform_node" pkg="turtlebot" type="imu_transform_node">
		<remap from="/input" to="/imu" />
		<remap from="/output" to="/imu_tf" />
	</node>
-->
	<node name="feature_tracker" pkg="feature_tracker" type="feature_tracker">
		<param name="image_transport" value="compressed" />
		<param name="config_file" type="string" value="$(find turtlebot)/param/vins.yaml" />
		<param name="vins_folder" type="string" value="$(find feature_tracker)/.." />
	</node>

	<node name="vins_estimator" pkg="vins_estimator" type="vins_estimator">
		<param name="config_file" type="string" value="$(find turtlebot)/param/vins.yaml" />
		<param name="vins_folder" type="string" value="$(find feature_tracker)/.." />
	</node>

	<node name="pose_graph" pkg="pose_graph" type="pose_graph">
		<param name="image_transport" value="compressed" />
		<param name="config_file" type="string" value="$(find turtlebot)/param/vins.yaml" />
		<param name="visualization_shift_x" type="int" value="0" />
		<param name="visualization_shift_y" type="int" value="0" />
		<param name="skip_cnt" type="int" value="0" />
		<param name="skip_dis" type="double" value="0" />
	</node>
<!--
	<node pkg="tf" type="static_transform_publisher" name="imu_pose" args="-0.1 0 0.1 0 0 0 1 body imu_link 100" />
-->
	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find turtlebot)/param/vins_mono.rviz" />

</launch>
